.ScrollToTop{
    position: fixed;
    right: 12px;
    bottom: 10.698px;
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    padding: 23.111px;
    border-radius: 72.222px;
    border: 0.722px solid var(--neutral-dividers-borders, #CCC);
    background: var(--neutral-background-primary, #FFF);
    img{
    }
}
.ScrollToTop:hover{
    cursor: pointer;
}

.dark{
    border: 0.889px solid var(--neutral-dividers-borders, #4D4D4D);
    background: var(--neutral-background-secondary, #333);
}