// .LoginWrapper{
//     position: relative;
// }
.LoginContainer{
    width: 400px;
    // height: 100vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    // border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h4{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.34px;
    }

    p{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #525252;
        span{
            color: black;
        }
    }
}
.LoginInputContainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}