// .LoginWrapper{
//     position: relative;
// }
.LoginContainer{
    width: 400px;
    // height: 100vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    // border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--SM, 16px);
    border: 1px solid var(--neutral-border-divider-2, #F1F1F1);
    background: var(--Neutral-Background, #FFF);
    padding: 20px;

    h4{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.34px;
    }

    p{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #525252;
        span{
            color: black;
        }
    }
}
.LoginInputContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.dark{
    .LoginContainer{
        border: 1px solid var(--neutral-border-divider-2, #282828);
        background: var(--Neutral-Surface, #333);
        p, span{
            color: var(--Neutral-TextSecondary, #CCC);
            // font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
            letter-spacing: 0.238px;
        }
        span{
            color: var(--Neutral-TextPrimary, #F5F5F5);
            // font-family: Nunito;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }
    }
}