.PageContent{
    width: 740px;
    margin: 0 auto;
    margin-top: 45px;
    background: white;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    overflow-y: hidden;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}