
.dark{
    .success{
        background: rgba(27, 94, 32, 0.10);
    }
    .failure{
        background: rgba(120, 40, 31, 0.10);

    }
    .info{
        background: rgba(120, 40, 31, 0.10);

    }
    .warning{
        background:  rgba(125, 102, 8, 0.10);
    }
    .alert .alertContent .AlertmessageStyle .messageStyle{
        color: #F5F5F5;
    }
}
.alert{
    padding: 20px;
    border: 1px solid red;
    width: 760px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    // animation: fadeInOut 0.5s ease-in-out forwards;
    color: #272727;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: 0.272px;
}


// #dark .success{
//     color: #F5F5F5;
// }
// @keyframes fadeInOut {
//     0% { opacity: 0; }
//     10% { opacity: 1; }
//     90% { opacity: 1; }
//     100% { opacity: 0; }
//   }
.alertContent{
    display: flex;
    align-items: flex-end;
    gap: 24px;
    div{
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    
}


.success{
    border-radius: 12px;
    border: 2px solid #448403;
    background: #FBFFF4;

}
.AlertmessageStyle{
    .messageStyle{
        color: #272727;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: #272727;
        line-height: 25.6px;
    letter-spacing: 0.272px;
    }
    .child{
        color: #932221;
        font-size: 14px;
        font-weight: 600;
    }
}
.neutral{
    border-radius: 12px;
    border: 2px solid #1C1C1C;
    background: #EFEFEF;
}
.failure{
    border-radius: 12px;
    border: 2px solid #932221;
    background: #FFF6F6;
}
.info{
    border-radius: 12px;
    border: 2px solid #2980B9;
    background: rgba(234, 242, 248, 0.10);
}
.child{
    color: #932221;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 22.4px */
    letter-spacing: 0.238px;
}
