
.Input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    .ErrorText{
        color: var(--Alert-Text, #943126);
        // font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.204px;
    }
    
        .dark{
            color: white;
            border: 1px solid var(--neutral-border-dividers, #4D4D4D);
            background: var(--Neutral-Background, #1A1A1A);

            &:focus {
                border: 2px solid #F5F5F5;
                outline: none;
            }
            &:hover{
                border: 1px solid #F5F5F5;
                outline: none;
        
        
            }
            
            .ErrorText{
                color: var(--Alert-Text, #943126);
                // font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 133.333% */
                letter-spacing: 0.204px;
            }
        }
        label{
            color: var(--Neutral-TextPrimary, #333);
            /* Caption/Caption Regular */
            // font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
            letter-spacing: 0.204px;
        }
}

.DefaultInputStyles{
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    width: 100%;
    max-height: 40px;
}
.DefaultInputStyles:hover{
    border: 1px solid#333333;
}

.DefaultInputStyles:focus{
    border: 2px solid#333333;
}
.DefaultInputStyles::placeholder{
    color: var(--Neutral-TextDisabled, #CCC);
    // font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.238px;
}

.Error {
    border: 2px solid #CB4335;

    &:focus {
        border: 1px solid #CB4335;
        outline: none;
    }
    &:hover{
        border: 1px solid #CB4335;
        outline: none;


    }
}

.textAreaStyle{
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    width: 100%;
    height: 171px;
}
.custom-DefaultInputStyles::placeholder {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: #818181;
  }






.AccountInputContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    width: 100%;
    label{
        color:#3D3D3D;
        font-size: 14px;
    }
    input{
        font-size: 16px;
        font-weight: 400;
    }
        border-bottom: 1px solid #EDEBE7;

}
// .light{
//     border-bottom: 1px solid #EDEBE7;

// }
// 
.dark{

    .Error {
        border: 2px solid #F1948A;

    
        &:focus {
            border: 2px solid  #F5F5F5;
            outline: none;
        }
        &:hover{
            border: 1px solid  #F5F5F5;
            outline: none;
    
    
        }
    }
    .ErrorText{
        color: var(--Alert-Text, #943126);
        // font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.204px;
    }

    label{
        color: var(--Neutral-TextPrimary, #F5F5F5);
        // font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.204px;
    }
    input{
        color: white;
    }
    ::placeholder{
        color: var(--Neutral-TextDisabled, #666);
        // font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.238px;
    }
    
    .forgotpassword{
        color: #F5F5F5;
    }

    // .AccountInput{
    //     outline: none;
    //     border: none;
    //     width: 100%;
    //     background: transparent;
    //     border-bottom: 1px solid var(--neutral-border-divider-2, #282828);

    //  }
}
.dark:has(.AccountInput) {
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid var(--neutral-border-divider-2, #282828);
  }
.AccountInput{
   outline: none;
   border: none;
   width: 100%;
   background: transparent;
}
