.footerWrapper{
    position: fixed;
    bottom: 40px;
    width: 94.5%;
    max-width: 100%;




}
.FooterIcon{
    max-height: 64px;
}
.footer{
    display: flex;
    place-content: center;
    place-items: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 20px;
    border-radius: 12px;
   
    .footerPages{
        display: flex;
        align-items: center;
        gap: 64px;
    }

}

.dark{
    border: 1px solid #4D4D4D;
    background: #333;
    backdrop-filter: blur(8px); /* Adjust the blur amount as needed */
  background-color: rgba(51, 51, 51, 0.5); /* Adjust the transparency (alpha value) */

}

.light{
    border: 1px solid  #CCC;
    backdrop-filter: blur(8px); 
  background-color: rgba(245, 245, 245, 0.5); 
    // background: var(--neutral-background-secondary, #F5F5F5);

}