.BannerWrapper{
    background-color:#222;
    border-radius: 16px;
    width: 100%;
    padding: 40px;
}
.light{

}
.dark{
    background-color: #1A1A1A;
}
.HeroContainer{
   
    margin: 0 auto;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-left: 117px;
    padding: 40px 0 40px 0;
    gap: 20px;
    // margin-bottom: 82px;
    position: relative;



    p{
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            // line-height: 158.259px; /* 395.648% */
            letter-spacing: 0.4px;
            background: linear-gradient(91deg, #E9BA67 22.54%, #ED9C7D 47.83%, #E68DA9 55.52%, #DA8EB4 74.48%);
            background-clip: text; /* Apply the background color to the text itself */
            -webkit-background-clip: text; /* For some older browsers */
            color: transparent;
            // border: 1px solid red;

    }
    img{
        // border: 1px solid red;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        right: 45%;
        height: 42.579px;
        transform: rotate(-10.883deg);
    }
}