.AccountAction{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    .editButton{
        display: flex;
        gap: 12px;
        background: black;
        color: white;
        padding: 12px 20px;
        font-style: normal;
        border-radius: 8px;
    }
    .deleteButton{
        display: flex;
        gap: 12px;
        padding: 12px 20px;
        font-style: normal;
        border-radius: 8px;
    }
}
.AccountDetailsContainer{
    background: white;
    border-radius: 28px;
    padding: 20px;
}
.dark{
    background: #2C2C2C;
}
.AccountDetailsFlex{
    display: flex;
    gap: 20px;
    // justify-content: space-between;
    width: 100%;
    // border: 1px solid red;
}