#root {
  max-width: 100vw;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}
.App{
  width: 100vw;
  padding: 0 40px 40px 40px;
  height: 100%;
  /* margin: 0 auto; */ 

}

.light{
  background-color: #F5F5F5;
  height: 100%;

}

.dark {
  height: 100%;
  background-color: #1A1A1A;
  color: #FFF;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media only screen and (max-width: 768px) {
  /* CSS styles for mobile devices */
  .App {
    /* Add styles to adjust layout for mobile devices if needed */
    
  }
  
  /* Show or hide the MobileComponent based on the media query */
  .MobileComponent {
    display: block; /* Show the component */
  }
}
